@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');

:root {
    --mh30: 30px;
}

h1, h2, .stop-word, .result {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

.father {
    padding: 0 40px;
}

.sections {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
}


.result {
    width: 48%;
}

.result__stop {
    border: 1px dashed red;
    min-height: var(--mh30);
}
.result__toxic {
    border: 1px dashed green;
    min-height: var(--mh30);
}

.word--toxic {
    color: #003300;
    background-color: hsl(120, 40%, 80%);
}
.word--stop {
    color: #330000;
    background-color: hsl(0, 40%, 80%);
}

.input {
    display: flex;
    width: 100%;
    flex-basis: auto;
}

.input__text {
    width: 100%;
    height: 150px;
    border: 1px solid #000;
    box-shadow: -2px -2px 0px 0px rgba(0,0,0,0.75);
}
.input__text:focus {
    outline: none !important;
    border:2px solid black;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
}
