.sections {
    display: flex;
    flex-direction: column;
}
.toxic {
    color: #003300;
    background-color: hsl(120, 40%, 80%);
}
.stopWord {
    color: #330000;
    background-color: hsl(0, 40%, 80%);
}
.resultBox {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.stopResult {
    border: 1px solid red;
    width: 47%;
    min-height: 30px;
}
.toxicResult {
    border: 1px solid green;
    width: 47%;
    min-height: 30px;
}
